<h2>Below is the list of my presence on the web</h2>
	<ul>
		<li><%= link_to "My Facebook", "http://www.facebook.com/phan.a.tuan" %></li>
		<li><%= link_to "My Blog", "http://wwww.phanatuan.wordpress.com" %> </li>
	</ul>